[run]
branch = True
source = src
dynamic_context = test_function

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == "__main__":
    pass
    raise AssertionError
    raise NotImplementedError
    if 0:
    if False:

[json]
pretty_print = true
show_contexts = true
